body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backdrop {
  background: linear-gradient(180deg, #080815 77.6%, #161651 100%);
  padding: 2rem;
}

.header{
  color: #f6f6f6;
  text-align: center;
  font-size: 2rem;
  margin-top: 2em;

}

.paragrafs{
  color: #f6f6f6;
  margin: auto;
  width: 70%;
  max-width: 700px;
}

.noMargin {
  margin: 0;
}



